<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <main>
      <div class="about content">
        <h2>About Us</h2>
        A website where you can create, read and delete blogs. With the growth
        of digitalization people are more dependent on digital things for
        information and blogs are a wonderful and digital way to convey
        information to people. If you want to reach out to people, write what
        you learned in your own words or even earn money then you should start
        writing blogs. <br />
        This website has three sections:- <br />
        <hr />
        1. BLOGS :- This section contains all the blogs that the user has
        created. By clicking on the specific blog card you can read it and also
        delete it. <br />
        2. ABOUT :- This section contains info about the website. <br />
        3. NEW BLOG :- In this section you can create your own blogs and add
        them to the 'BLOGS' sections so that everyone can read your wonderful
        blog. <br />
        <hr />
        P.S: I am an I.T student at N.I.T Srinagar. I created this website to
        practice MERN Stack.
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
